body            { font-family: sans-serif; background: #eee; color:#c7c7c6; }
a, h1, h2       { color: #812569; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #812569; color: #812569; }
h2              { font-size: 1.2em;  color: #812569; }

.page           { margin: 2em auto; width: 80%; border: 5px solid #c7c7c6;
                  padding: 0.8em; background: #eee; color: black; }
.page a         {color: #812569;
                }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #812569; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #eee; }
.flash          { background: #cecc50; padding: 0.5em;
                  border: 1px solid #812569; color:#812569; }
.error          { background: #f0d6d6; padding: 0.5em; }
.nodes          { text-align: center; width: 100%}
.nodes th       { height: 50px;}
.nodes tr       { width: 100%}
.nodes tr:hover {background-color: #812569}
.nodes tr:nth-child(even){background-color: #812569}
#ajbox          {display: none; background: #cee5F5; padding: 0.0em; padding-top:10px; padding-bottom:10px;
                 text-align:center;
                  border: 1px solid #aacbe2; position:relative; width: 100%}

.logo{
    width:100px;
    display: inline-block;
    height:80px;
}

.menu           {}
.menu ul {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 10px;
}

.menu li {
    background-color: #812569;
    border-bottom: 5px solid #eee;
    color:#eee;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left; /* elementi su singola riga */
}

.menu li a {
    color: #eee;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}

.menu li:hover {
    background-color: #eee;
    border-bottom: 5px solid #812569;
    color: #812569;
}

.menu li a:hover {
    color: #812569;
}

.blackIcon{
    color: black;

}
.greenIcon{
    color: yellow;
}

.imgAcc {
    width:70px !important;
    height:70px !important;
    padding: 5px;
    border: 3px solid white;
    opacity: 0.3;
}

.imgAcc:hover {
    width:70px;
    height:70px;
    padding: 5px;
    border: 3px solid blue;
}

.selected{
   width:70px;
   height:70px;
   opacity: 1;
}