<!doctype html>
<title>Cashless Hack</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='font-awesome.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-theme.min.css') }}">
<div class=page>
  <div id="ajbox">{{ message }}</div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>